<div class="app-container">
   <app-chapter-content [chapters]="chapters"  [selectedChapterIndex]="selectedChapterIndex"></app-chapter-content>
 </div>
 <div class="container">
   <div class="sidebar" *ngIf="chapters">
     <!-- Sidebar content -->
     <app-chapter-list [chapters]="chapters" [category]="category" (chapterSelected)="selectChapter($event)"></app-chapter-list>
   </div>
   <div class="content">
      <div *ngIf="chapter">
         <p [innerHTML]="chapter.content"></p>
      </div>
   </div>
 </div>
