 <!-- Navbar Start -->
 <div class="container-fluid p-0">
   <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
       <a href="" [routerLink]="['/']" class="navbar-brand d-block d-lg-none">
           <h1 class="m-0 display-4 text-uppercase text-primary">Code<span class="text-white font-weight-normal">Mastery</span><span class="text-primary lab">Lab</span></h1>
       </a>
       <button title="menu" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
           <div class="navbar-nav mr-auto py-0">
               <a href="" [routerLink]="['/home']" routerLinkActive="active" class="nav-item nav-link">Home</a>
               <div *ngFor="let category of categoryArray">
                  <div class="nav-item" *ngIf="category.data.contentType != 'Tutorial'">
                     <a href="" routerLinkActive="active" class="nav-link"
                     [routerLink]="['/category',category.data.category, category.id]">{{category.data.category}}</a>
                  </div>
                  <div  class="nav-item" *ngIf="category.data.contentType === 'Tutorial'">
                     <a href="" routerLinkActive="active" class="nav-link"
                     [routerLink]="['/tutorial',category.data.category, category.id]">{{category.data.category}}</a>
                  </div>
               </div>
               <a href="" routerLinkActive="active" [routerLink]="['/contact']" class="nav-item nav-link">Contact</a>
           </div>
       </div>
   </nav>
</div>
<!-- Navbar End -->





<!-- Old Navbar Start -->
<!-- <nav class="navbar navbar-expand-lg fixed-top">
   <div class="container">
      <div class="collapse navbar-collapse justify-content-center">
         <ul class="navbar-nav">
            <li class="nav-item ml-3">
               <a href="" class="nav-link" [routerLink]="['/']">Home</a>
            </li>
         </ul>
         <ul class="navbar-nav" *ngFor="let category of categoryArray">
            <li class="nav-item ml-3" *ngIf="category.data.contentType === 'Blog'">
               <a href="" class="nav-link"
                  [routerLink]="['/category',category.data.category, category.id]">{{category.data.category}}</a>
            </li>
            <li class="nav-item ml-3" *ngIf="category.data.contentType === 'Tutorial'">
               <a href="" class="nav-link"
                  [routerLink]="['/tutorial',category.data.category, category.id]">{{category.data.category}}</a>
            </li>
         </ul>
      </div>
   </div>
</nav> -->
<!-- Old Navbar End -->