header {
   height: 100px;
   background-color: #010536;
}

.site-logo {
   font-size: 4.5em;
   background-color: #010536;
   color: #f8f8f8;
}
.slogan {
   font-size: 1.5em;
   color: #f8f8f8;
}
.container {
   display: contents;
}