<section class="featured-section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 text-center mt-5">
            <h2 class="text-white"> Featured Posts </h2>
            <p class="text-white">Immerse yourself in our 'Featured Post' series, where we spotlight the most captivating and thought-provoking content. Explore topics that push boundaries, inspire change, and encapsulate the pulse of technology, innovation, and creativity. Join us on a journey into the heart of ideas that shape the future.</p>
         </div>
      </div>
      <div class="row" *ngIf="featuredPosts && featuredPosts.length > 0">
         <div class="col-lg-3" *ngFor="let featuredPost of featuredPosts">
            <app-post-card [postData]="featuredPost"></app-post-card>
         </div>
      </div>
   </div>
</section>
<section class="container mt-5">
   <div class="col-md-12 text-center">
      <h2> Latest Posts</h2>
      <p>Embark on a journey of discovery with our 'Latest Posts' collection, where innovation meets insight in real time. Uncover the freshest perspectives on technology, trends, and transformations that are shaping the present and defining the future. Stay ahead of the curve as we bring you the pulse of progress, one post at a time.</p>
   </div>
   <div class="row">
      <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPosts">
         <app-post-card [postData]="latestPost"></app-post-card>
      </div>
   </div>
</section>