<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="site-logo">Code mastery lab</div>
            <div class="nav justify-content-center">
               <ul class="nav justify-content-center">
                  <li class="nav-item">
                     <a href="" class="nav-link" routerLink="/">Home</a>
                  </li>
                  
                  <li class="nav-item">
                     <a href="" class="nav-link" routerLink="/about">About</a>
                  </li>
                  
                  <li class="nav-item">
                     <a href="" class="nav-link" routerLink="/terms-and-condtions">Terms & Conditions</a>
                  </li>
                  <li class="nav-item">
                     <a href="" class="nav-link" routerLink="/contact">Contact us</a>
                  </li>
               </ul>
            </div>
            <p style="margin-top: 20px;">Copyright @ 2023 Code mastery lab</p>
         </div>
      </div>
   </div>
</footer>